@media only screen and (min-width: 64rem) {
  * {
    margin: 0;
    font-size: 100%;
    font-family: "Raleway", sans-serif;
  }

  :root {
    --background: #cadff5;
    --white: #ffffff;
  }

  #logo {
    width: 30%;
    height: 40%;
  }

  .sidebar {
    position: fixed;
    right: 0;
    top: 50;
    width: 250px;
    padding: 10px;
    background-color: #f4f4f4;
    border-left: 1px solid #ddd;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  }
  header {
    display: flex;
    flex-direction: row;
  }

  header .topnav {
    display: inline;
    width: 50%;
  }

  .nav_menu {
    z-index: 100;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30%;
    top: 10px;
    align-items: center;
    width: 40%;
    text-align: center;
    transition: 0.3s;
    background-color: var(--background);
    /* Added background color for visibility */
    margin: 0 2%;
    opacity: 100%;
  }

  nav li {
    color: #0c0c0c;
    padding: 0.5rem 0;
  }

  nav a {
    color: #0c0c0c;
    padding: 0.5rem 0.5rem;
  }

  .burger-menu {
    display: none;
  }

  .list section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .list {
    width: 80%;
    margin: 5% auto;
  }

  .list section {
    width: 100%;
    margin: 0.2% auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 5px;
    align-items: center;
  }

  .grid section .logoSide {
    display: flex;
    flex-direction: column;
  }

  .list section .logoSide {
    display: flex;
    flex-direction: row;
  }

  .grid section .logoSide > img {
    width: 80%;
    height: 100%;
    margin-bottom: 15px;
    margin-left: 20px;
  }

  .list section .logoSide > img {
    width: 50%;
    height: 100%;
    margin-bottom: 15px;
    margin-left: 20px;
  }

  /* westher section */
  .weather-section {
    display: grid;
    grid-template-columns: 39% 20% 40%;
    gap: 0.5%;
  }

  #currentWeather {
    justify-content: center;
    align-items: center;
  }

  #weatherfocust {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-content: space-evenly;
    align-items: center;
  }

  .forecast-item {
    width: 100%;

    padding-top: 1rem;
    justify-content: center;
    text-align: center;
  }
  /*business cards section*/

  /*hero*/
  .hero-text a {
    padding: 1rem;
    height: 30px;
    width: 100px;
  }
  .hero-image img {
    height: 30%;
  }

  .card {
    padding: 0.1rem;
    margin: 0.4rem;
  }

  /*Event */
  .event {
    text-align: left;
  }

  /* Business spotlight */
  #BusinessCards {
    display: grid;
    grid-template-columns: 33.33% 33.3% 33.3%;
  }

  /*membership levels*/
  #ModalArea {
    margin: 1% auto;
    width: 50%;
  }

  #closeModal {
    margin: 2%;
  }
  form {
    border: solid 1px;

    width: 60vw;
    max-width: 50%;
    min-width: 300px;
    margin: 2% auto;
  }
  #membership-levels {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 0.2%;
    padding: 5%;
  }

  #membership-levels > div {
    width: 80%;
  }
  .membership-card:hover {
    background-color: var(--white);
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  #memberinfo {
    margin: 0 40%;
  }
  /* discover*/
  #discoverdata ,#discoverimages{
    text-align: center;
    align-items: center;
  }
  #discovergrid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin: 0.5rem 5%;
height: 100%;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  #discovergrid > div {
    flex: 1 1 calc(33.333% - 1rem);
    margin: 0.5rem;
    border: 1px solid #ccc;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  .discoverimage {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  .discoverimage:hover{
    transform: scale(1.05); /* Slightly enlarge the image on hover */
    opacity: .8;
  }
  figure{
    margin: 5px auto;
    padding: auto;
    object-fit: fill;
  }
  #demographics,
  #investment-forums {
    object-fit: cover;
    width: 40%;
    margin-top: 1rem;
    padding: 20px;
  }
  #demographics>h2, #investment-forums>h2{
    border-bottom: #0c0c0c solid 2px;
  }
}
